*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
build
/captures
.externalNativeBuild

*.apk

.idea/deploymentTargetDropDown.xml
.idea/runConfigurations/app.xml
.idea/misc.xml
.idea/gradle.xml
.idea/kotlinScripting.xml

.idea/codestream.xml

.idea/vcs.xml
